<nav class="navbar"> 
  <div class="container-fluid">
    <div class="row">
       <a href="#" class="navbar-brand col-md-2 logo">
         <img src="\assets\img\bookShelflogolong.png">
       </a>
       <a routerLink="/" class="navbar-text col-md-1">Home</a>
        <a routerLink="/mybooks" class="navbar-text col-sm-2">My Books</a>
      <div class="text-right">
        <form [formGroup]="form" class="form-inline">
          <div class ="form-group">
            <input 
              formControlName="search"
              id="search"
              class="form-control" 
              placeholder="enter book title or author"> 
           <button 
              class="btn btn-secondary" 
              type="submit"
              (click)="onClick()" >
              Search
           </button>
          </div>
         </form>  
      </div>
    </div>
  </div> 
 </nav>


