

.dropdown-toggle {
    background-color: #CFD4D6;
}

.font {
    font-size: 140%;
    color: black;
}

.author {
    font-size: 80%;
    color: #255355;
}

.welcome {
    font-size: 350%;
    font-weight: bold;
    color: #255355;
  
}
