

.dropdown-toggle:hover {
    background-color: darkgray;
    color: white;
}

.font {
    font-size: 140%;
    color: black;
}

.author {
    font-size: 80%;
    color: #255355;
}

.welcome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
    font-weight: bolder;
    color: #255355;
}
