.read {
    margin: 5%;
    padding: 5%;
    color: #255355;
}

.read:hover {
    font-size: 140%;
  }

.font {
    color: #255355;
}

img {
    width: 15%;
    height: auto;
}

.title {
    font-size: 70%;
}

hr {
    border-top: 1px solid brown;
}
