h2 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.read {
    margin: 5%;
    padding: 5%;
    color: #255355;
}

.font {
    color: #255355;
    font-weight: bold;
}

img {
    width: 15%;
    height: auto;
}

.title {
    font-size: 70%;
}

hr {
    border-top: 1px solid brown;
}

a {
    color: black;
}