
  <div>
    <h2>
    My Books
   </h2><hr>
    <h4 id="toRead" class="read">
     <div class="font"> To Read</div>
      <div *ngFor='let book of booksList' >
          <p *ngIf="book.list ==='to read'" class="title">
            <a href="{{ book.url}}" target="_blank">
              <img class = "img img-thumbnail" [src] ="book.img">{{ book.title | titlecase}}
            </a>
          </p>
      </div>
    </h4> 
 
    <h4 class="read">
      <div class="font"> Currently Reading</div>
      <div *ngFor='let book of booksList' >
        <p *ngIf="book.list ==='currently reading'"class="title">
          <a href="{{ book.url}}" target="_blank">
            <img class = "img img-thumbnail" [src] ="book.img">{{ book.title | titlecase}}
          </a>
        </p>
      </div>
    </h4> 
    <h4 class="read">
      <div class="font"> Read</div>
      <div *ngFor='let book of booksList' >
        <p *ngIf="book.list ==='read'"class="title">
          <a href="{{ book.url}}" target="_blank">
            <img class = "img img-thumbnail" [src] ="book.img">{{ book.title | titlecase}}
          </a>
        </p>
      </div>
    </h4>