
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <app-books></app-books>
    </div>
    <div class="col-sm-6">
      <app-search-results></app-search-results>
    </div>
    <div class="col-sm-6">
      <app-recommendations></app-recommendations>
    </div>
    <div class="col-sm-3">
      <app-links></app-links>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-3">
      <app-bestsellers></app-bestsellers>
    </div>
  </div>
</div>
