
<app-header (sendResults)= "resultsSent($event)"
            (sendlibResults)= "searchSent($event)"></app-header>
<div class="container-fluid margin">
  <div class="row">
    <span class="col-sm-2">
      <app-books></app-books>
    </span>
    <span class="col-sm-8">
      <app-search-results [goodreadsResults]="goodreadsResults"></app-search-results>
    </span>
    <span class="col-sm-2">
        <app-bestsellers></app-bestsellers>
      </span>
  </div>
  <div class="row">
      <span class="col-sm-6">
          <app-recommendations [libResults]="libResults"></app-recommendations>
        </span>
        <span class="col-sm-3">
          <app-links></app-links>
        </span>
    </div>
</div>
