
<app-header (sendResults)= "resultsSent($event)"></app-header>
<div class="background">
<div class="container-fluid margin">
  <div class="row">
    <span class="col-sm-3">
      <app-books></app-books>
    </span>
    <span class="col-sm-6">
      <app-search-results [goodreadsResults]="goodreadsResults"></app-search-results>
    </span>
    <span class="col-sm-3">
        <app-bestsellers></app-bestsellers>
      </span>
  </div>
  <div class="row">
      <span class="col-sm-6">
          <app-recommendations></app-recommendations>
        </span>
        <span class="col-sm-3">
        </span>
    </div>
</div>

