.margin {
    margin: 1%;
}
.background {
    padding-top: 5%;
    background: url("\..\assets\img\BookShelfTransparent1.png");
    background-size: 50%;
    background-position-x: center;
    background-attachment: fixed;
  
}