
h2 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 30%;
    max-width: 10em;
    height: auto;
}

.display {
    display: flex;
    text-align: start;
}

.title {
    color: black;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

.author {
    color: #255355;
    margin: 0%;

}

.bestseller {
    line-height: initial;
    text-align: left;
    text-indent: 5%;
}

.bestseller:hover {
    font-size: 115%;
}

.dropdown {
    align-self: flex-start;
    margin-bottom: 7%;
}

hr {
    border-top: 1px solid brown;
}
