<div class="container-fluid">
  <div class="row">
    <h2>New York Times Bestsellers</h2><hr>
      <div *ngFor="let book of bestsellers?.results?.books">
        <div class="flex">
          {{ book.rank }}.
          <a href= "{{ book.amazon_product_url }}"> 
            <img class="img img-thumbnail" src= "{{ book.book_image }}" alt= "No image found">
            <p class="title"> {{ book.title }}</p> 
            <p class="author"> by {{ book.author }}</p> <br>
          </a> 
      </div>
  </div>
  </div>
</div>  

