

.img {
    width: 30%;
    max-width: 10em;
    height: auto;
}

.display {
    display: flex;
    text-align: start;
}

.title {
    color: black;
    font-weight: bold;
}

.author {
    color: #255355;

}

.bestseller {
    line-height: initial;
    text-align: left;
    text-indent: 5%;
}

.dropdown {
    align-self: flex-start;
}