

.img {
    width: 30%;
    max-width: 10em;
    height: auto;
}

.flex {
    display: flex;
}

.title {
    color: black;
    font-size: 110%;
    font-weight: bold;
}

.author {
    color: #255355;

}